@keyframes animer-sortie-message {
    from {
      transform: skew(0) translateX(-50%);
      opacity: 1;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    20% {
      transform: skew(-30deg) translateX(-55%);
      opacity: 1;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
    }
    40% {
      transform: skew(0) translateX(0%);
      opacity: 1;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
    }
    to {
      transform: skew(30deg) translateX(100%);
      opacity: 0;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #444;
    padding: 20px;
    background-color: rgb(16, 110, 190);
    overflow: hidden;
}

a, a:visited, a:link, a:hover {
    text-decoration: none;
    color: inherit;
}

.logo {
    display: flex;
    margin: 1.5rem auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #ffffff2b;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.logo:hover {
    opacity: 0.9;
}

.logo img {
    height: 100%;
    opacity: .5;
}

div.filtres {
    margin-bottom: 0px;
    text-align: right;
    padding-right: 10px;
    font-size: 0.5em;
}

div.filtres a {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #666;
    color: #eee;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 1px lightslategrey;
}

div.filtres a:hover, 
div.filtres a.actif {
    background-color: #000;
    color: #fff;
}

div.aucune-tache {
    width: 20rem;
    margin: 0 auto;
    color: #090;
}

ul.liste-taches {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    background-color: white;
    width: 99%;
}

ul.liste-taches li {
    cursor: default;
    border-bottom: 5px solid #d5d5d5;
    padding: 20px;
    position: relative;
}

ul.liste-taches li:hover {
    background-color: khaki;
}

ul.liste-taches li span.coche img {
    vertical-align: middle;
    width: 70px;
}

ul.liste-taches li.accomplie {
    text-decoration: line-through;
    opacity: 0.5;
}

ul.liste-taches li span.ajout {
    font-size: 0.5em;
    font-family: Georgia;
    font-style: italic;
    opacity: 0.5;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/*
    Vue : Utilisateur
*/

body .msg-erreur {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fffffff7;
    color: blue;
    width: 40%;
    margin: 0 auto 1rem auto;
    padding: 0.5rem;
    box-shadow: 0 0 10px 1px rgb(0 90 158);
    text-align: center;
    -webkit-animation: animer-sortie-message 0.75s 3s forwards;
    animation: animer-sortie-message 0.75s 3s forwards;
}

.barre-utilisateur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(255 255 255 / 13%);
}

.barre-utilisateur .btn-logout {
    color: #ffffffa6;
}

.barre-utilisateur .nom-utilisateur {
    font-style: italic;
    margin-left: 20px;
}

form  {
    max-width: 400px;
    margin: 50px auto 20px auto;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

form  .basculer-formulaire {
    text-decoration: underline;
    transition: color 1s;
    color: #ffffffa6;
}

form  .basculer-formulaire:hover {
    text-decoration: none;
    color: #990000;
}

form  input, form select {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    font-size: 1.25em;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: rgb(255 255 255 / 66%);
}

form  input:invalid {
    color: #e6000073;
}

form button {
    display: block;
    width: min-content;
    padding: 10px;
    margin: 1rem 0 0 auto;
    font-size: 1.25em;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(0, 90, 158);
    text-transform: lowercase;
    color: #ffffffe0;
}

form > div, form > fieldset {
    border: none;
    border-radius: 5px;
    background-color: #ffffff57;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
}

form > div{
    flex-direction: row;
    align-items: center;
    padding-block: 0.5rem;
    justify-content: space-between;
}
form > div button{
    margin: 0;
}
form fieldset label {
    color: #232121;
}

form  legend {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgb(243 242 241 / 54%);
    color: #1c1c1cb3;
}


.contact-list{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #f0f8ff14;
    margin-top: 1rem;
    max-width: 900px;
}

.contact-list section{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    background-color: #ffffff6b;
    padding: 1rem;
    flex-direction: column;
}

.contact-list section header{
    display: flex;
    justify-content: space-between;
}

.contact-list section a{
    font-size: .8em;
    color: rgb(243 242 241 / 72%);
}


.contact-list section table{
    border-collapse: collapse;
}

.contact-list section td{
    border: 1px solid #eeeeee29;
    padding: 0.25rem;
}

.label_addtel{
    cursor: pointer;
    color: #ffffff91;
}

.nouveau-contact{
    color: #ffffffad;
}

