{% extends "base.twig.html" %}
{% block main %}
    {# [MODIF HORS COURS] #}
    {# Tous les messages d'erreurs sont affiché dans le bloc suivant dont l'affichage est géré en CSS #}
    {% if erreur != '' %}
    <div class="msg-erreur">{{erreur}}</div>
    {% endif %}
        <form class="page-utilisateur" method="post" action="/utilisateur/ajouter">
            <fieldset>
                <legend>Créer un nouveau compte</legend>
                <label>
                    Votre nom complet
                    <input value="{{uti_nom}}" autofocus type="text" name="uti_nom" required pattern="\S.+">
                </label>
                <label>
                    Adresse de courriel
                    <input value="{{uti_courriel}}" type="email" name="uti_courriel" required>
                </label>
                <label>
                    Mot de passe (plus de 8 caractères...)
                    <input type="password" name="uti_mdp" required pattern="\w[\w ]{8,49}" oninput="this.form.uti_mdp2.pattern=this.value">
                </label>
                <label>
                    Confirmer le mot de passe
                    <input type="password" name="uti_mdp2" required pattern="">
                </label>
                
                <button>créer le compte</button>
                
            </fieldset>
            
            <div class="basculer-formulaire">
                <a href="/utilisateur/index">
                    Ouvrir une connexion
                </a>
            </div>
        </form>
{% endblock %}