{% extends "base.twig.html" %}
{% block main %}
    {# [MODIF HORS COURS] #}
    {# Tous les messages d'erreurs sont affiché dans le bloc suivant dont l'affichage est géré en CSS #}
    {% if erreur != '' %}
    <div class="msg-erreur">{{erreur}}</div>
    {% endif %}
        <form class="page-utilisateur " method="post" action="/utilisateur/connexion">
            <fieldset>
                <legend>Ouvrir une connexion</legend>
                <label>
                    Courriel
                    <input autofocus type="email" name="uti_courriel" required>
                </label>
                <label>
                    Mot de passe
                    <input type="password" name="uti_mdp" required pattern="\w{8,}">
                </label>
                <button>connexion</button>
            </fieldset>
            <div class="basculer-formulaire">
                <a href="/utilisateur/nouveau">
                    Créer un compte
                </a>
            </div>
        </form>
{% endblock %}